Repository jabesq-org/pyatmo: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, isort

black:
  name: black
  language: system
  entry: pipenv run black

flake8:
  name: flake8
  language: system
  entry: pipenv run flake8

mypy:
  name: mypy
  language: system
  entry: pipenv run mypy

isort:
  name: isort
  language: system
  entry: pipenv run isort

v3.0.0
  Pipfile
Due: none

Fix lastData issue (#91)
  src/pyatmo/weather_station.py
  tests/test_pyatmo_weatherstation.py
Due: black, flake8, mypy, isort

v3.0.1
  Pipfile
  setup.py
Due: black, flake8, mypy, isort

Add stations conditions to monitored conditions (#93)
  src/pyatmo/camera.py
  src/pyatmo/thermostat.py
  src/pyatmo/weather_station.py
  tests/test_pyatmo_thermostat.py
  tests/test_pyatmo_weatherstation.py
Due: black, flake8, mypy, isort

Add smoke detector support (#92)
  fixtures/camera_home_data.json
  src/pyatmo/__main__.py
  src/pyatmo/auth.py
  src/pyatmo/camera.py
  tests/test_pyatmo_camera.py
Due: black, flake8, mypy, isort

v3.1.0
  setup.py
Due: black, flake8, mypy, isort

Catch errors when thermostat looses network connection (#95)
  fixtures/home_status_error_disconnected.json
  src/pyatmo/thermostat.py
  tests/test_pyatmo_thermostat.py
Due: black, flake8, mypy, isort

Refactor authentication (#96)
  Pipfile
  setup.py
  src/pyatmo/__init__.py
  src/pyatmo/auth.py
  src/pyatmo/camera.py
  src/pyatmo/exceptions.py
  src/pyatmo/helpers.py
  src/pyatmo/public_data.py
  src/pyatmo/thermostat.py
  src/pyatmo/weather_station.py
  tests/test_pyatmo.py
  tests/test_pyatmo_camera.py
  tests/test_pyatmo_publicdata.py
Due: black, flake8, mypy, isort

v3.2.0
  Pipfile.lock
  setup.py
Due: black, flake8, mypy, isort

Fix issue when a single station is unavailable (#98)
  src/pyatmo/weather_station.py
  tests/test_pyatmo_weatherstation.py
Due: black, flake8, mypy, isort

v3.2.1
  setup.py
Due: black, flake8, mypy, isort

v3.2.2
  setup.py
Due: black, flake8, mypy, isort

Fix wind module issue (#101)
  fixtures/weatherstation_data_simple.json
  src/pyatmo/helpers.py
  src/pyatmo/weather_station.py
  tests/test_pyatmo_weatherstation.py
Due: black, flake8, mypy, isort

Add instruction to build release
  .gitignore
  setup.py
Due: black, flake8, mypy, isort

v3.2.3
  setup.py
Due: black, flake8, mypy, isort

Fix missing module name (#102)
  fixtures/weatherstation_data_simple.json
  src/pyatmo/weather_station.py
  tests/test_pyatmo_weatherstation.py
Due: black, flake8, mypy, isort

Fix crash when module name not given (#103)
  src/pyatmo/weather_station.py
Due: black, flake8, mypy, isort

v3.2.4
  setup.py
Due: black, flake8, mypy, isort

Upgrade dependencies
  Pipfile.lock
Due: none

Add new parameters to setroomthermpoint and setthermmode (#104)
  fixtures/home_status_error_invalid_schedule_id.json
  src/pyatmo/thermostat.py
  tests/test_pyatmo_thermostat.py
Due: black, flake8, mypy, isort

Fix webhook registration (#105)
  src/pyatmo/auth.py
  src/pyatmo/camera.py
  tests/test_pyatmo.py
Due: black, flake8, mypy, isort

Add set_state
  src/pyatmo/auth.py
  src/pyatmo/camera.py
Due: black, flake8, mypy, isort

Make parameters explicit
  src/pyatmo/camera.py
Due: black, flake8, mypy, isort

Add missing scope
  src/pyatmo/auth.py
Due: black, flake8, mypy, isort

Chek values
  src/pyatmo/camera.py
Due: black, flake8, mypy, isort

Enable multiple modes in one call
  src/pyatmo/camera.py
Due: black, flake8, mypy, isort

Clean up print statement
  src/pyatmo/camera.py
Due: black, flake8, mypy, isort

Add basic test for set_state
  fixtures/camera_set_state_ok.json
  tests/test_pyatmo_camera.py
Due: black, flake8

Add more tests
  fixtures/camera_set_state_error.json
  fixtures/weatherstation_data_unreachable_station.json
  tests/test_pyatmo_camera.py
Due: black, flake8

Add test cases
  fixtures/camera_set_state_error_already_on.json
  fixtures/camera_set_state_error_wrong_parameter.json
  tests/test_pyatmo_camera.py
Due: black, flake8

Fix test fixture
  fixtures/camera_set_state_error_wrong_parameter.json
Due: none

Update tests
  fixtures/weatherstation_data_unreachable_station.json
  tests/test_pyatmo_camera.py
Due: black, flake8

Make home id optional
  src/pyatmo/camera.py
  tests/test_pyatmo_camera.py
Due: black, flake8, mypy, isort

Fix token refresh issue
  src/pyatmo/auth.py
Due: black, flake8, mypy, isort

Add development branch to CI (#107)
  .github/workflows/pythonpackage.yml
Due: none

v3.3.0
  setup.py
Due: black, flake8, mypy, isort

Log exception
  src/pyatmo/auth.py
Due: black, flake8, mypy, isort

Handle requests exceptions
  src/pyatmo/auth.py
Due: black, flake8, mypy, isort

Improve error handling
  src/pyatmo/auth.py
  src/pyatmo/helpers.py
  tests/test_pyatmo.py
Due: black, flake8, mypy, isort

Add light keyword and fix typo
  src/pyatmo/camera.py
Due: black, flake8, mypy, isort

Path conditions:
  black: any of: \.py$, but not: ^(fixtures/)
  flake8: any of: \.py$, but not: ^(fixtures/)
  mypy: any of: \.py$ and not (tests/) and not (^(fixtures/))
  isort: any of: \.py$ and not (tests/) and not (^(fixtures/))
