Repository jabesq-org/pyatmo: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, isort

black:
  name: black
  language: system
  entry: pipenv run black

flake8:
  name: flake8
  language: system
  entry: pipenv run flake8

mypy:
  name: mypy
  language: system
  entry: pipenv run mypy

isort:
  name: isort
  language: system
  entry: pipenv run isort

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Revert
  .pre-commit-config.yaml
Due: none

Reformatting
  src/pyatmo/auth.py
  src/pyatmo/camera.py
  src/pyatmo/public_data.py
  src/pyatmo/thermostat.py
  src/pyatmo/weather_station.py
  tests/test_async.py
  tests/test_pyatmo_camera.py
  tests/test_pyatmo_publicdata.py
  tests/test_pyatmo_thermostat.py
  tests/test_pyatmo_weatherstation.py
Due: black, flake8, mypy, isort

Add doc strings
  tests/conftest.py
Due: black, flake8

Update pre-commit config
  .pre-commit-config.yaml
  tests/conftest.py
  tests/test_async.py
Due: black, flake8

Ignore pylint on pre-commit.ci
  .pre-commit-config.yaml
Due: none

Fix schedule extraction
  src/pyatmo/thermostat.py
  src/version.py
Due: black, flake8, mypy, isort

Bug fix for 4.2.2
  fixtures/home_data_simple.json
  src/pyatmo/thermostat.py
  src/version.py
Due: black, flake8, mypy, isort

ci: Upgrade tools and deps
  .pre-commit-config.yaml
  Pipfile.lock
  setup.cfg
  src/pyatmo/camera.py
Due: black, flake8, mypy, isort

Update selfcheck
  src/pyatmo/__main__.py
Due: black, flake8, mypy, isort

Add test to get live snapshot
  tests/test_async.py
Due: black, flake8

Refactor post handler
  src/pyatmo/auth.py
  src/pyatmo/camera.py
  src/pyatmo/public_data.py
  src/pyatmo/thermostat.py
  src/pyatmo/weather_station.py
  tests/conftest.py
  tests/test_async.py
  tests/test_pyatmo.py
  tests/test_pyatmo_publicdata.py
  tests/test_pyatmo_thermostat.py
  tests/test_pyatmo_weatherstation.py
Due: black, flake8, mypy, isort

Catch camera ping error
  src/pyatmo/camera.py
Due: black, flake8, mypy, isort

'Refactored by Sourcery'
  tests/test_async.py
Due: black, flake8

Extract raw data processing
  src/pyatmo/camera.py
  src/pyatmo/helpers.py
  src/pyatmo/thermostat.py
  src/pyatmo/weather_station.py
Due: black, flake8, mypy, isort

Add changelog
  CHANGELOG.md
Due: none

ci: Add types-requests to mypy dependencies
  .pre-commit-config.yaml
Due: none

fix: Upgrade aiohttp to 3.7.4 or later to fix vulnerability
  Pipfile
  Pipfile.lock
Due: none

Bump version to 5.1.0
  CHANGELOG.md
  src/version.py
Due: black, flake8, mypy, isort

Fix set person home/away calls
  src/pyatmo/camera.py
  tests/test_async.py
  tests/test_pyatmo_camera.py
Due: black, flake8, mypy, isort

Update change log
  CHANGELOG.md
Due: none

'Refactored by Sourcery'
  src/pyatmo/camera.py
Due: black, flake8, mypy, isort

Refactor camera person detection
  CHANGELOG.md
  src/pyatmo/camera.py
Due: black, flake8, mypy, isort

fix: Apply latest Sourcery refactoring
  CHANGELOG.md
  src/pyatmo/camera.py
  src/pyatmo/thermostat.py
Due: black, flake8, mypy, isort

Prep 5.2.0
  CHANGELOG.md
  src/version.py
Due: black, flake8, mypy, isort

fix: Upgrade python version to 3.8 in github actions
  .github/workflows/publish-to-pypi.yml
  .github/workflows/publish-to-test-pypi.yml
Due: none

Update type annotations
  src/pyatmo/auth.py
  src/pyatmo/helpers.py
  src/pyatmo/public_data.py
  src/pyatmo/thermostat.py
  src/pyatmo/weather_station.py
Due: black, flake8, mypy, isort

Add modulating thermostat support
  src/pyatmo/thermostat.py
Due: black, flake8, mypy, isort

Path conditions:
  black: any of: \.py$, but not: ^(fixtures/)
  flake8: any of: \.py$, but not: ^(fixtures/)
  mypy: any of: \.py$ and not (tests/) and not (^(fixtures/))
  isort: any of: \.py$ and not (tests/) and not (^(fixtures/))
