Repository jabesq-org/pyatmo: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, isort

.pre-commit-config.yaml:

# Note: don't use this config for your own repositories. Instead, see
# "Version control integration" in README.md.
default_stages: [commit, push]
exclude: ^(fixtures/)
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        language: system
        entry: pipenv run black
        types: [python]
      - id: flake8
        name: flake8
        language: system
        entry: pipenv run flake8
        types: [python]
      - id: mypy
        name: mypy
        language: system
        entry: pipenv run mypy
        types: [python]
        exclude: tests/
      - id: isort
        name: isort
        language: system
        entry: pipenv run isort
        types: [python]
        exclude: tests/

Catch more errors
  src/pyatmo/__main__.py
  src/pyatmo/auth.py
  src/pyatmo/helpers.py
Due: black, flake8, mypy, isort

Don't expect values to be there
  src/pyatmo/thermostat.py
Due: black, flake8, mypy, isort

Sometimes no module names are returned in the JSON
  src/pyatmo/weather_station.py
Due: black, flake8, mypy, isort

Return type if station/module name not given
  fixtures/weatherstation_data_simple.json
  src/pyatmo/weather_station.py
  tests/test_pyatmo_weatherstation.py
Due: black, flake8, mypy, isort

Add test data
  fixtures/weatherstation_data_simple.json
Due: none

Update tests
  tests/test_pyatmo_weatherstation.py
Due: black, flake8

Use device type if no module name available
  src/pyatmo/weather_station.py
Due: black, flake8, mypy, isort

Use all scopes in test fixture
  tests/conftest.py
Due: black, flake8

Fix location
  fixtures/weatherstation_data_simple.json
Due: none

Reduce API calls
  src/pyatmo/thermostat.py
Due: black, flake8, mypy, isort

Update dependencies and fix bleach vulnerabilities
  Pipfile
  Pipfile.lock
Due: none

v3.3.1
  setup.py
Due: black, flake8, mypy, isort

Replace invalid name for method/class/functions...
  .pre-commit-config.yaml
  src/pyatmo/__init__.py
  src/pyatmo/__main__.py
  src/pyatmo/auth.py
  src/pyatmo/camera.py
  src/pyatmo/helpers.py
  src/pyatmo/home_coach.py
  src/pyatmo/public_data.py
  src/pyatmo/thermostat.py
  src/pyatmo/weather_station.py
  tests/conftest.py
  tests/test_pyatmo.py
  tests/test_pyatmo_camera.py
  tests/test_pyatmo_homecoach.py
  tests/test_pyatmo_publicdata.py
  tests/test_pyatmo_thermostat.py
  tests/test_pyatmo_weatherstation.py
  tox.ini
  usage.md
Due: black, flake8, mypy, isort

Set configurations for pylint and mypy
  .pylintrc
  setup.cfg
Due: none

Change fixId to fix_id
  src/pyatmo/auth.py
  src/pyatmo/camera.py
  src/pyatmo/helpers.py
  src/pyatmo/weather_station.py
Due: black, flake8, mypy, isort

Fix issue with pylint and pytest
  src/pyatmo/auth.py
  src/pyatmo/thermostat.py
  tests/test_pyatmo_camera.py
  tests/test_pyatmo_thermostat.py
Due: black, flake8, mypy, isort

Fix JSON
  fixtures/home_data_simple.json
Due: none

Section HomeData and HomeStatus
  src/pyatmo/thermostat.py
  tests/conftest.py
  tests/test_pyatmo_thermostat.py
Due: black, flake8, mypy, isort

Remove old duplicate methods for cleaner interface
  src/pyatmo/thermostat.py
  tests/test_pyatmo_thermostat.py
Due: black, flake8, mypy, isort

Clean up
  src/pyatmo/thermostat.py
Due: black, flake8, mypy, isort

Remove default values as they are unreliable
  src/pyatmo/thermostat.py
Due: black, flake8, mypy, isort

Remove unused tests
  tests/test_pyatmo_thermostat.py
Due: black, flake8

Remove old duplicate methods for cleaner interface
  src/pyatmo/camera.py
  tests/test_pyatmo_camera.py
Due: black, flake8, mypy, isort

Clean up thermostat code and tests
  fixtures/home_data_no_devices.json
  fixtures/home_data_no_homes.json
  src/pyatmo/thermostat.py
  tests/test_pyatmo_thermostat.py
Due: black, flake8, mypy, isort

Clean up thermostat tests
  tests/test_pyatmo_thermostat.py
Due: black, flake8

Update fixtures
  tests/conftest.py
Due: black, flake8

Update camera tests
  fixtures/camera_data_empty.json
  fixtures/camera_data_events_until.json
  fixtures/camera_home_data.json
  fixtures/camera_home_data_no_homes.json
  fixtures/camera_image_sample.jpg
  src/pyatmo/camera.py
  tests/test_pyatmo_camera.py
Due: black, flake8, mypy, isort

Fix variable names
  src/pyatmo/camera.py
Due: black, flake8, mypy, isort

Refactor weatherstation and home coach
  src/pyatmo/home_coach.py
  src/pyatmo/weather_station.py
  tests/test_pyatmo_homecoach.py
  tests/test_pyatmo_weatherstation.py
Due: black, flake8, mypy, isort

Omit __main__ from coverage
  .coveragerc
Due: none

Bump version
  setup.py
Due: black, flake8, mypy, isort

Remove old/deprecated methods
  src/pyatmo/public_data.py
  tests/conftest.py
  tests/test_pyatmo_publicdata.py
Due: black, flake8, mypy, isort

Fix issue with image retrieval
  src/pyatmo/auth.py
Due: black, flake8, mypy, isort

Refactor public weather method names
  src/pyatmo/public_data.py
  tests/test_pyatmo_publicdata.py
Due: black, flake8, mypy, isort

Add some typing information
  src/pyatmo/__main__.py
  src/pyatmo/auth.py
  src/pyatmo/camera.py
  src/pyatmo/helpers.py
  src/pyatmo/home_coach.py
  src/pyatmo/public_data.py
  src/pyatmo/thermostat.py
  src/pyatmo/weather_station.py
  tests/test_pyatmo.py
  tests/test_pyatmo_camera.py
Due: black, flake8, mypy, isort

Update src/pyatmo/camera.py
  src/pyatmo/camera.py
Due: black, flake8, mypy, isort

Update doc strings
  src/pyatmo/auth.py
  src/pyatmo/camera.py
  src/pyatmo/home_coach.py
  src/pyatmo/public_data.py
  src/pyatmo/thermostat.py
  src/pyatmo/weather_station.py
Due: black, flake8, mypy, isort

Fix
  src/pyatmo/camera.py
Due: black, flake8, mypy, isort

Fix post merge issues
  src/pyatmo/__main__.py
  src/pyatmo/auth.py
  src/pyatmo/camera.py
  src/pyatmo/helpers.py
  src/pyatmo/home_coach.py
  src/pyatmo/public_data.py
  src/pyatmo/thermostat.py
  src/pyatmo/weather_station.py
  tests/conftest.py
  tests/test_pyatmo.py
  tests/test_pyatmo_camera.py
  tests/test_pyatmo_homecoach.py
  tests/test_pyatmo_publicdata.py
  tests/test_pyatmo_thermostat.py
  tests/test_pyatmo_weatherstation.py
Due: black, flake8, mypy, isort

Add some typing
  src/pyatmo/auth.py
  src/pyatmo/camera.py
  src/pyatmo/thermostat.py
  src/pyatmo/weather_station.py
  tests/test_pyatmo_weatherstation.py
Due: black, flake8, mypy, isort
