Repository jabesq-org/pyatmo: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, isort

.pre-commit-config.yaml:

# Note: don't use this config for your own repositories. Instead, see
# "Version control integration" in README.md.
default_stages: [commit, push]
exclude: ^(fixtures/)
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        language: system
        entry: pipenv run black
        types: [python]
      - id: flake8
        name: flake8
        language: system
        entry: pipenv run flake8
        types: [python]
      - id: mypy
        name: mypy
        language: system
        entry: pipenv run mypy
        types: [python]
        exclude: tests/
      - id: isort
        name: isort
        language: system
        entry: pipenv run isort
        types: [python]
        exclude: tests/

Add more type annotations
  src/pyatmo/camera.py
  src/pyatmo/thermostat.py
  src/pyatmo/weather_station.py
Due: black, flake8, mypy, isort

Readd default values for id and secret in case token is given
  src/pyatmo/auth.py
Due: black, flake8, mypy, isort

Remove default station
  src/pyatmo/weather_station.py
  tests/test_pyatmo_homecoach.py
  tests/test_pyatmo_weatherstation.py
Due: black, flake8, mypy, isort

Fix comment
  src/pyatmo/weather_station.py
Due: black, flake8, mypy, isort

Update gitignore
  .gitignore
Due: none

handle no wifi_status property (#112)
  src/pyatmo/weather_station.py
Due: black, flake8, mypy, isort

Minor improvements
  src/pyatmo/camera.py
  tests/conftest.py
Due: black, flake8, mypy, isort

Make error more explicit
  src/pyatmo/camera.py
Due: black, flake8, mypy, isort

Improve test for event update
  fixtures/camera_data_events_until.json
  tests/test_pyatmo_camera.py
Due: black, flake8

Some formatting improvements
  src/pyatmo/camera.py
Due: black, flake8, mypy, isort

Formatting
  src/pyatmo/weather_station.py
Due: black, flake8, mypy, isort

More formatting
  src/pyatmo/thermostat.py
Due: black, flake8, mypy, isort

And some more
  src/pyatmo/public_data.py
  src/pyatmo/weather_station.py
Due: black, flake8, mypy, isort

And auth too
  src/pyatmo/auth.py
Due: black, flake8, mypy, isort

Fix camera url update issue
  src/pyatmo/camera.py
  tests/test_pyatmo_camera.py
Due: black, flake8, mypy, isort

Upgrade deps
  Pipfile.lock
  tox.ini
Due: none

Fix token update issue with non-OAuth2 login
  src/pyatmo/auth.py
Due: black, flake8, mypy, isort

Update auth.py
  src/pyatmo/auth.py
Due: black, flake8, mypy, isort

Fix crash when station_name not present
  fixtures/weatherstation_data_simple.json
  src/pyatmo/weather_station.py
  tests/test_pyatmo_weatherstation.py
Due: black, flake8, mypy, isort

Blacken code
  src/pyatmo/auth.py
  tests/test_pyatmo.py
  tests/test_pyatmo_camera.py
  tests/test_pyatmo_thermostat.py
  tests/test_pyatmo_weatherstation.py
Due: black, flake8, mypy, isort

Add trends
  src/pyatmo/weather_station.py
  tests/test_pyatmo_weatherstation.py
Due: black, flake8, mypy, isort

Update tools and deps
  Pipfile.lock
  src/pyatmo/auth.py
  src/pyatmo/home_coach.py
  src/pyatmo/public_data.py
  src/pyatmo/weather_station.py
Due: black, flake8, mypy, isort

Bump version to v4.1.0
  setup.py
Due: black, flake8, mypy, isort

Set station name to home name when not available
  src/pyatmo/weather_station.py
Due: black, flake8, mypy, isort

Modify test data
  fixtures/weatherstation_data_simple.json
Due: none

Add reasoning
  src/pyatmo/weather_station.py
Due: black, flake8, mypy, isort

'Refactored by Sourcery'
  src/pyatmo/weather_station.py
Due: black, flake8, mypy, isort

Remove max and min
  src/pyatmo/weather_station.py
Due: black, flake8, mypy, isort

Fix tests
  tests/test_pyatmo_weatherstation.py
Due: black, flake8

Create dependabot.yml
  .github/dependabot.yml
Due: none

Realign Pipfile.lock
  Pipfile.lock
Due: none

Add new tools to pre-commit
  .github/workflows/pythonpackage.yml
  .pre-commit-config.yaml
  README.md
  setup.cfg
  src/pyatmo/__main__.py
  src/pyatmo/auth.py
  src/pyatmo/camera.py
  src/pyatmo/thermostat.py
  src/pyatmo/weather_station.py
  tests/test_pyatmo_camera.py
  tests/test_pyatmo_homecoach.py
  tests/test_pyatmo_publicdata.py
  tests/test_pyatmo_thermostat.py
  tests/test_pyatmo_weatherstation.py
  usage.md
Due: black, flake8, mypy, isort

Upgrade tools and deps
  Pipfile
Due: none

Add usage version.py for version management
  .github/dependabot.yml
  setup.cfg
  version.py
Due: black, flake8, mypy, isort

Move version.py to be available at build time
  setup.cfg
  src/version.py
Due: black, flake8, mypy, isort

Simplify with defaultdict (#135)
  src/pyatmo/camera.py
  src/pyatmo/thermostat.py
Due: black, flake8, mypy, isort

Github Actions: Add black output when failing
  .github/workflows/pythonpackage.yml
Due: none

Upgrade a setup.py to declarative metadata using setup-py-upgrade
  setup.cfg
  setup.py
Due: black, flake8, mypy, isort

Pin requests to latest version 2.24.0
  setup.cfg
Due: none

Pin requests_oauthlib to latest version 1.3.0
  setup.cfg
Due: none
